// ==============================
// Override Variables
// 覆盖变量
// ==============================

$color-blue-1: #065279;
$color-blue-2: #177cb0;
$color-blue-3: #1685a9;

$color-em: #ca6924;
$color-em-dark: #ca6924;

$color-bold: #ff5853;
$color-bold-dark: #cb3a56;

// ========== Code ========== //
// Color of the code
$code-color-hao: #f47466;
$code-color-hao-dark: #29a77e;